.slider-container{
    height: 50vh;
    padding: 0 5vh;
    overflow: visible;
    margin-top: 20px;
}
.slider-container .slider ul.slick-dots li button::before{
    color: rgba(255, 255, 255, 0.556); 
}
.slider-container .slider ul.slick-dots li.slick-active button::before{
    color: white;
}
.slider-container button{
    z-index: 99;
}
.slider-container .slider{
    height: 100%;
    width: 100%;
    overflow: visible;
}
.slider-container .slider div{
    /* border: 1px solid black; */
    color: white;
    height: 100%;
    width: 100%;
    margin-right: 15px;
    border-radius: 10px;
}
.slider-container .slider div img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
